h1 {
    color:rgb(76, 145, 206)
   }

h2 {
    color:#E029A3
}
<style>
  .padding_image
  {
    padding-top:25px
      </style>
<style>
  .small_caps
  {
    font-variant: small-caps slashed-zero;
  }
</style>

<style>
  .big_title{
    font-size: 28px
  }
</style>

<style>
  .medium_size{
    font-size: 20px
  }
</style>

<style>
  .small_size{
    font-size: 16px
    
  }
</style>
